%%-*- mode: erlang -*-

%% Dependency ordering requires coop before erlangsp
%% {sub_dirs, ["src/coop", "src/erlangsp", "src/examples"]}.
{sub_dirs, ["src"]}.

{deps, [
        {meck, "0.7.1", {git, "git://github.com/eproxus/meck.git", {tag, "0.7.1"}}}
       ]}.

{cover_enabled, true}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors,
            {i, "src"},
            {i, "src/coop/include"},
            {i, "src/erlangsp/include"},
            {i, "src/examples/esp_http/include"}
           ]}.

