{sys,
 [
  {lib_dirs, [ "../apps", "../deps" ]},
  {rel, "erlangsp", "0.0.1", [ sasl, gs, appmon ]},
  {rel, "start_clean", "", [ ]},
  {boot_rel, "erlangsp"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                      "^erts.*/bin/(dialyzer|typer)"]},
  {excl_archive_filters, [".*"]},

  {app, sasl,    [{incl_cond, include}]},

  %% Artifact of having tsung installed in $ERL_TOP
  {app, tsung,            [{incl_cond, exclude}]},
  {app, tsung_recorder,   [{incl_cond, exclude}]},
  {app, tsung_controller, [{incl_cond, exclude}]}
 ]}.

{target_dir, "erlangsp"}.
{overlay_vars, "files/vars.config"}.
{overlay,
 [
  {mkdir, "log/sasl"},

  {copy, "files/erl",      "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/erlangsp",  "bin/erlangsp"},

  {template, "files/vm.args",    "etc/vm.args"},
  {template, "files/app.config", "etc/app.config"}
 ]}.
