%%-*- mode: erlang -*-

{sys, [
       {lib_dirs, [ "../apps", "../deps" ]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "erlangsp", "0.0.1",
        [
         kernel, stdlib, sasl, gs, appmon,
         coop, erlangsp
        ]},
       {rel, "start_clean", "", [kernel, stdlib]},
       {boot_rel, "erlangsp"},
       {profile, embedded},

       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},

       %% Artifact of having tsung installed in $ERL_TOP
       %% {app, tsung,            [{incl_cond, exclude}]},
       %% {app, tsung_recorder,   [{incl_cond, exclude}]},
       %% {app, tsung_controller, [{incl_cond, exclude}]},

       %% System libraries
       {app, kernel,   [{incl_cond, include}]},
       {app, stdlib,   [{incl_cond, include}]},
       {app, sasl,     [{incl_cond, include}]},
       {app, gs,       [{incl_cond, include}]},
       {app, appmon,   [{incl_cond, include}]},

       %% Erlang/SP libraries
       {app, coop,     [{incl_cond, include}]},
       {app, erlangsp, [{incl_cond, include}]}
      ]}.

{target_dir, "erlangsp"}.

{overlay, [
           {mkdir, "log/sasl"},

           {copy, "files/erl",      "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/erlangsp", "bin/erlangsp"},

           {copy, "files/app.config",    "releases/\{\{rel_vsn\}\}/app.config"},
           {copy, "files/erlangsp.cmd",  "bin/erlangsp.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args",       "releases/\{\{rel_vsn\}\}/vm.args"},

           {template, "files/vm.args",    "etc/vm.args"},
           {template, "files/app.config", "etc/app.config"}
          ]}.
